@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');

}
@font-face {
	font-family: 'Play';
	src: url('../fonts/Play-Regular.eot');
	src: local('☺'), url('../fonts/Play-Regular.woff') format('woff'), url('../fonts/Play-Regular.ttf') format('truetype'), url('../fonts/Play-Regular.svg') format('svg');
}

body {
	background-color: #fff;
	font-family: 'OpenSans', sans-serif;
	margin: 0;
}
img {
	border: 0;
}

/*-- Font Color --*/
.maincol, th {
	color: #c17f61;
}

#container {
	overflow: hidden;
}
/*-- Header & Footer --*/
#header, #footer {
	width: 100%;
	padding: 10px;
	background-color: #eee;
	align-items: center;
}

#footer {
	text-align: center;
	font-size: .8em;
}

/*-- Logo --*/
#header h1 {
	font: 60px/40px 'Play';
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

#header h1, #header h3 {
	margin: 0;
}

/*-- Map Search --*/

#search {
	margin: 0 auto;
	padding: 20px;
}

#map {
	min-height: 380px;
	height: 40vw;
	border-radius: 5px 5px 0 0;
}

#tagline {
	padding: 5px 10px;
	border-radius: 0 0 5px 5px;
	background-color: #eeeeee;
}

#search input {
	width: 30%;
	padding-left: 5px;
	margin-bottom: 5px;
	border-radius: 2px;
	border-style: hidden;

	-webkit-transition: width 0.4s ease-in-out, color .2s;
	-moz-transition: width 0.4s ease-in-out, color .2s;
	-ms-transition: width 0.4s ease-in-out, color .2s;
	-o-transition: width 0.4s ease-in-out, color .2s;
	transition: width 0.4s ease-in-out, color .2s;
}

#search input:focus {
	width: 100%;
}

.error {
	color:red!important;
}
.fa-map-marker {
	display: inherit;
	padding: 0 7px 0 5px;
}

#tagline > a {
	text-decoration: none;
}

/*-- Results --*/
#resultrow, #healthwarn {
	margin: 0 auto;
	padding: 0 20px 20px 20px;
}

#resultrow .col-12, #healthwarn .healthtable {
	padding: 15px;
	border-radius: 5px;
	background-color: #eeeeee;
}

.charts {
	height: 25vw;
	margin: 0 5px;
}

.chart {
	width: 100%;
	height: 100%;
}

/*-- Health Warning Table --*/
table {
	cursor: default;
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 0 3px;
	text-align: left;
}

th, td {
	border-bottom: 1px solid #ddd;
}

tr {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

tr:hover {
	background-color: #f5f5f5
}